.container {
  display: flex;

  a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  h2 {
    padding-right: 2rem;
    border-right: 2px solid;
  }
}

ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;

}

@media (width <= 800px) {
  .container {
    h2 {
      display: none;
    }
  }
}
